.pytest_cache
.idea
mysite/master-conf-pointer.txt
mysite/applib/__pycache__
mysite/applib/home/__pycache__
mysite/applib/about/__pycache__
mysite/applib/articles/__pycache__
mysite/applib/blog/__pycache__
mysite/applib/books/__pycache__
mysite/applib/news/__pycache__
mysite/applib/connect/__pycache__
mysite/applib/tests/__pycache__
mysite/home/__pycache__
mysite/home/migrations/__pycache__
mysite/about/__pycache__
mysite/about/migrations/__pycache__
mysite/articles/__pycache__
mysite/articles/migrations/__pycache__
mysite/blog/__pycache__
mysite/blog/migrations/__pycache__
mysite/books/__pycache__
mysite/books/migrations/__pycache__
mysite/news/__pycache__
mysite/news/migrations/__pycache__
mysite/connect/__pycache__
mysite/connect/migrations/__pycache__
mysite/mysite/__pycache__
